SECRET_KEY=""
DEBUG=
DJANGO_ALLOWED_HOSTS=
ACCESS_TOKEN_LIFETIME_MINUTES=
REFRESH_TOKEN_LIFETIME_DAYS=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_EMPRESA=
PASSWORD_EMAIL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Firebase Configuration
# Escolha UMA das opções abaixo para autenticação:
# Opção 1: Caminho local para o ficheiro JSON da chave de serviço
FIREBASE_CREDENTIALS_PATH=
# Opção 2: O conteúdo JSON completo da chave de serviço (em uma única linha)
FIREBASE_CREDENTIALS_JSON=
# Opção 3: ID do Projeto Firebase (caso use Application Default Credentials no Render/Google Cloud)
FIREBASE_PROJECT_ID=
