SECRET_KEY=""
DEBUG=
DJANGO_ALLOWED_HOSTS=
ACCESS_TOKEN_LIFETIME_MINUTES=
REFRESH_TOKEN_LIFETIME_DAYS=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_EMPRESA=
PASSWORD_EMAIL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
