--
-- PostgreSQL database dump
--

\restrict 48NkkHjeAQuZt1tyOfXUEZfgHxzKy723GDB551p43YzH9Slf3GtvLgyhC6akxF2

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg12+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: suporte_adm
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO suporte_adm;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO suporte_adm;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: suporte_adm
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO suporte_adm;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: suporte_adm
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO suporte_adm;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: suporte_adm
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: contratos_contrato; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.contratos_contrato (
    id uuid NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    data_actualizacao timestamp with time zone NOT NULL,
    tipo_de_pagamento character varying(20) CONSTRAINT contratos_contrato_tipo_not_null NOT NULL,
    horas_contratadas numeric(10,2),
    horas_utilizadas numeric(10,2),
    valor_total numeric(14,2) NOT NULL,
    valor_hora numeric(25,2) NOT NULL,
    data_inicio timestamp with time zone NOT NULL,
    data_fim timestamp with time zone NOT NULL,
    status character varying(20) NOT NULL,
    observacoes text NOT NULL,
    is_deleted boolean NOT NULL,
    descricao_contrato text NOT NULL,
    tipo_contrato character varying(40) NOT NULL,
    "Empresa_id" uuid NOT NULL
);


ALTER TABLE public.contratos_contrato OWNER TO suporte_adm;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id uuid NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO suporte_adm;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: suporte_adm
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO suporte_adm;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: suporte_adm
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO suporte_adm;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: suporte_adm
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO suporte_adm;

--
-- Name: intervencoes_anexointervencao; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.intervencoes_anexointervencao (
    id uuid NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    data_actualizacao timestamp with time zone NOT NULL,
    arquivo character varying(100) NOT NULL,
    descricao character varying(255) NOT NULL,
    tamanho integer NOT NULL,
    utilizador_id uuid,
    intervencao_id uuid NOT NULL,
    is_deleted boolean NOT NULL,
    CONSTRAINT intervencoes_anexointervencao_tamanho_check CHECK ((tamanho >= 0))
);


ALTER TABLE public.intervencoes_anexointervencao OWNER TO suporte_adm;

--
-- Name: intervencoes_comentariointervencao; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.intervencoes_comentariointervencao (
    id uuid NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    data_actualizacao timestamp with time zone NOT NULL,
    texto text NOT NULL,
    visivel_cliente boolean NOT NULL,
    usuario_id uuid NOT NULL,
    intervencao_id uuid NOT NULL,
    is_deleted boolean NOT NULL
);


ALTER TABLE public.intervencoes_comentariointervencao OWNER TO suporte_adm;

--
-- Name: intervencoes_historicoestadointervencao; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.intervencoes_historicoestadointervencao (
    id uuid NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    data_actualizacao timestamp with time zone CONSTRAINT intervencoes_historicoestadointerven_data_actualizacao_not_null NOT NULL,
    status character varying(20) NOT NULL,
    nota character varying(255) NOT NULL,
    alterado_por_id uuid,
    intervencao_id uuid NOT NULL
);


ALTER TABLE public.intervencoes_historicoestadointervencao OWNER TO suporte_adm;

--
-- Name: intervencoes_horatrabalho; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.intervencoes_horatrabalho (
    id uuid NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    data_actualizacao timestamp with time zone NOT NULL,
    horas numeric(8,2) NOT NULL,
    data_trabalho date NOT NULL,
    descricao text NOT NULL,
    tipo character varying(20) NOT NULL,
    tecnico_id uuid NOT NULL,
    intervencao_id uuid NOT NULL
);


ALTER TABLE public.intervencoes_horatrabalho OWNER TO suporte_adm;

--
-- Name: intervencoes_intervencao; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.intervencoes_intervencao (
    id uuid NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    data_actualizacao timestamp with time zone NOT NULL,
    numero character varying(30) NOT NULL,
    titulo character varying(255) NOT NULL,
    descricao text NOT NULL,
    status character varying(20) NOT NULL,
    prioridade character varying(20) NOT NULL,
    horas_trabalhadas numeric(10,2),
    data_abertura timestamp with time zone NOT NULL,
    data_conclusao timestamp with time zone,
    cliente_id uuid NOT NULL,
    contrato_id uuid,
    tecnico_id uuid,
    is_deleted boolean NOT NULL,
    data_fim_intervencao timestamp with time zone,
    data_inicio_intervencao timestamp with time zone,
    actuacao_tipo character varying(20) NOT NULL,
    estado character varying NOT NULL
);


ALTER TABLE public.intervencoes_intervencao OWNER TO suporte_adm;

--
-- Name: notificacoes_notificacao; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.notificacoes_notificacao (
    id uuid NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    data_actualizacao timestamp with time zone NOT NULL,
    tipo character varying(100) NOT NULL,
    titulo character varying(255) NOT NULL,
    mensagem text NOT NULL,
    link character varying(255) NOT NULL,
    lida boolean NOT NULL,
    utilizador_id uuid NOT NULL,
    is_deleted boolean NOT NULL
);


ALTER TABLE public.notificacoes_notificacao OWNER TO suporte_adm;

--
-- Name: sistema_configuracaosistema; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.sistema_configuracaosistema (
    id bigint NOT NULL,
    moeda character varying(10) NOT NULL,
    fuso_horario character varying(100) NOT NULL,
    email_notificacoes boolean NOT NULL,
    prazo_padrao_intervencao integer NOT NULL,
    taxa_anual numeric(14,2) CONSTRAINT sistema_configuracaosistema_taxa_hora_padrao_not_null NOT NULL,
    taxa_hora numeric(14,2) NOT NULL,
    taxa_mensal numeric(14,2) NOT NULL,
    CONSTRAINT sistema_configuracaosistema_prazo_padrao_intervencao_check CHECK ((prazo_padrao_intervencao >= 0))
);


ALTER TABLE public.sistema_configuracaosistema OWNER TO suporte_adm;

--
-- Name: sistema_configuracaosistema_id_seq; Type: SEQUENCE; Schema: public; Owner: suporte_adm
--

ALTER TABLE public.sistema_configuracaosistema ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sistema_configuracaosistema_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO suporte_adm;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: suporte_adm
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id uuid,
    jti character varying(255) CONSTRAINT token_blacklist_outstandingtoken_jti_hex_not_null NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO suporte_adm;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: suporte_adm
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_empresa; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.usuarios_empresa (
    id uuid NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    data_actualizacao timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    nome character varying(255) NOT NULL,
    nif character varying(50) NOT NULL,
    endereco text NOT NULL,
    postos jsonb NOT NULL,
    telefone character varying(50) NOT NULL,
    avatar_url character varying(200) NOT NULL,
    status character varying(20) NOT NULL,
    "Email_empresa" character varying(254) NOT NULL
);


ALTER TABLE public.usuarios_empresa OWNER TO suporte_adm;

--
-- Name: usuarios_usuario; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.usuarios_usuario (
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    data_criacao timestamp with time zone NOT NULL,
    data_actualizacao timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    nome character varying(255) NOT NULL,
    perfil character varying(20) NOT NULL,
    telefone character varying(50) NOT NULL,
    avatar_url character varying(200) NOT NULL,
    preferencias jsonb NOT NULL,
    especialidades jsonb NOT NULL,
    data_contratacao date,
    status character varying(20) NOT NULL,
    is_deleted boolean NOT NULL,
    postos character varying(50) NOT NULL,
    empresa_id uuid,
    "ID_POSTOS" character varying(50) NOT NULL
);


ALTER TABLE public.usuarios_usuario OWNER TO suporte_adm;

--
-- Name: usuarios_usuario_groups; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.usuarios_usuario_groups (
    id bigint NOT NULL,
    usuario_id uuid NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.usuarios_usuario_groups OWNER TO suporte_adm;

--
-- Name: usuarios_usuario_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: suporte_adm
--

ALTER TABLE public.usuarios_usuario_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_usuario_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_usuario_user_permissions; Type: TABLE; Schema: public; Owner: suporte_adm
--

CREATE TABLE public.usuarios_usuario_user_permissions (
    id bigint NOT NULL,
    usuario_id uuid NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.usuarios_usuario_user_permissions OWNER TO suporte_adm;

--
-- Name: usuarios_usuario_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: suporte_adm
--

ALTER TABLE public.usuarios_usuario_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_usuario_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: contratos_contrato; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	token_blacklist	blacklistedtoken
7	token_blacklist	outstandingtoken
8	usuarios	usuario
9	contratos	contrato
10	intervencoes	intervencao
11	intervencoes	horatrabalho
12	intervencoes	historicoestadointervencao
13	intervencoes	comentariointervencao
14	intervencoes	anexointervencao
15	notificacoes	notificacao
16	sistema	configuracaosistema
17	usuarios	empresa
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: intervencoes_anexointervencao; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: intervencoes_comentariointervencao; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: intervencoes_historicoestadointervencao; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: intervencoes_horatrabalho; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--

COPY public.intervencoes_horatrabalho (id, data_criacao, data_actualizacao, horas, data_trabalho, descricao, tipo, tecnico_id, intervencao_id) FROM stdin;
\.


--
-- Data for Name: intervencoes_intervencao; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: notificacoes_notificacao; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: sistema_configuracaosistema; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--

COPY public.sistema_configuracaosistema (id, moeda, fuso_horario, email_notificacoes, prazo_padrao_intervencao, taxa_anual, taxa_hora, taxa_mensal) FROM stdin;
1	Kz	Africa/Luanda	t	50	5000.00	5000.00	5000.00
\.


--
-- Data for Name: token_blacklist_blacklistedtoken; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--

COPY public.token_blacklist_blacklistedtoken (id, blacklisted_at, token_id) FROM stdin;
\.


--
-- Data for Name: token_blacklist_outstandingtoken; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: usuarios_empresa; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: usuarios_usuario; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--



--
-- Data for Name: usuarios_usuario_groups; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--

COPY public.usuarios_usuario_groups (id, usuario_id, group_id) FROM stdin;
\.


--
-- Data for Name: usuarios_usuario_user_permissions; Type: TABLE DATA; Schema: public; Owner: suporte_adm
--

COPY public.usuarios_usuario_user_permissions (id, usuario_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suporte_adm
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suporte_adm
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suporte_adm
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suporte_adm
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 16, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suporte_adm
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 17, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suporte_adm
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 71, true);


--
-- Name: sistema_configuracaosistema_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suporte_adm
--

SELECT pg_catalog.setval('public.sistema_configuracaosistema_id_seq', 1, false);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suporte_adm
--

SELECT pg_catalog.setval('public.token_blacklist_blacklistedtoken_id_seq', 1, false);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suporte_adm
--

SELECT pg_catalog.setval('public.token_blacklist_outstandingtoken_id_seq', 205, true);


--
-- Name: usuarios_usuario_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suporte_adm
--

SELECT pg_catalog.setval('public.usuarios_usuario_groups_id_seq', 1, false);


--
-- Name: usuarios_usuario_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: suporte_adm
--

SELECT pg_catalog.setval('public.usuarios_usuario_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: contratos_contrato contratos_contrato_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.contratos_contrato
    ADD CONSTRAINT contratos_contrato_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: intervencoes_anexointervencao intervencoes_anexointervencao_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_anexointervencao
    ADD CONSTRAINT intervencoes_anexointervencao_pkey PRIMARY KEY (id);


--
-- Name: intervencoes_comentariointervencao intervencoes_comentariointervencao_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_comentariointervencao
    ADD CONSTRAINT intervencoes_comentariointervencao_pkey PRIMARY KEY (id);


--
-- Name: intervencoes_historicoestadointervencao intervencoes_historicoestadointervencao_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_historicoestadointervencao
    ADD CONSTRAINT intervencoes_historicoestadointervencao_pkey PRIMARY KEY (id);


--
-- Name: intervencoes_horatrabalho intervencoes_horatrabalho_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_horatrabalho
    ADD CONSTRAINT intervencoes_horatrabalho_pkey PRIMARY KEY (id);


--
-- Name: intervencoes_intervencao intervencoes_intervencao_numero_key; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_intervencao
    ADD CONSTRAINT intervencoes_intervencao_numero_key UNIQUE (numero);


--
-- Name: intervencoes_intervencao intervencoes_intervencao_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_intervencao
    ADD CONSTRAINT intervencoes_intervencao_pkey PRIMARY KEY (id);


--
-- Name: notificacoes_notificacao notificacoes_notificacao_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.notificacoes_notificacao
    ADD CONSTRAINT notificacoes_notificacao_pkey PRIMARY KEY (id);


--
-- Name: sistema_configuracaosistema sistema_configuracaosistema_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.sistema_configuracaosistema
    ADD CONSTRAINT sistema_configuracaosistema_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: usuarios_empresa usuarios_empresa_Email_empresa_7c7ce367_uniq; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_empresa
    ADD CONSTRAINT "usuarios_empresa_Email_empresa_7c7ce367_uniq" UNIQUE ("Email_empresa");


--
-- Name: usuarios_empresa usuarios_empresa_nif_key; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_empresa
    ADD CONSTRAINT usuarios_empresa_nif_key UNIQUE (nif);


--
-- Name: usuarios_empresa usuarios_empresa_nome_45fea379_uniq; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_empresa
    ADD CONSTRAINT usuarios_empresa_nome_45fea379_uniq UNIQUE (nome);


--
-- Name: usuarios_empresa usuarios_empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_empresa
    ADD CONSTRAINT usuarios_empresa_pkey PRIMARY KEY (id);


--
-- Name: usuarios_usuario usuarios_usuario_email_key; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_email_key UNIQUE (email);


--
-- Name: usuarios_usuario_groups usuarios_usuario_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_groups_pkey PRIMARY KEY (id);


--
-- Name: usuarios_usuario_groups usuarios_usuario_groups_usuario_id_group_id_4ed5b09e_uniq; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_groups_usuario_id_group_id_4ed5b09e_uniq UNIQUE (usuario_id, group_id);


--
-- Name: usuarios_usuario usuarios_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_pkey PRIMARY KEY (id);


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_user_pe_usuario_id_permission_id_217cadcd_uniq; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_user_pe_usuario_id_permission_id_217cadcd_uniq UNIQUE (usuario_id, permission_id);


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: contratos_contrato_Empresa_id_af565506; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX "contratos_contrato_Empresa_id_af565506" ON public.contratos_contrato USING btree ("Empresa_id");


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: intervencoes_anexointervencao_intervencao_id_3ef70154; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_anexointervencao_intervencao_id_3ef70154 ON public.intervencoes_anexointervencao USING btree (intervencao_id);


--
-- Name: intervencoes_anexointervencao_utilizador_id_1f7aa6eb; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_anexointervencao_utilizador_id_1f7aa6eb ON public.intervencoes_anexointervencao USING btree (utilizador_id);


--
-- Name: intervencoes_comentariointervencao_intervencao_id_709b8a2c; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_comentariointervencao_intervencao_id_709b8a2c ON public.intervencoes_comentariointervencao USING btree (intervencao_id);


--
-- Name: intervencoes_comentariointervencao_usuario_id_424ffa39; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_comentariointervencao_usuario_id_424ffa39 ON public.intervencoes_comentariointervencao USING btree (usuario_id);


--
-- Name: intervencoes_historicoesta_alterado_por_id_3c95a562; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_historicoesta_alterado_por_id_3c95a562 ON public.intervencoes_historicoestadointervencao USING btree (alterado_por_id);


--
-- Name: intervencoes_historicoestadointervencao_intervencao_id_a8d769e6; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_historicoestadointervencao_intervencao_id_a8d769e6 ON public.intervencoes_historicoestadointervencao USING btree (intervencao_id);


--
-- Name: intervencoes_horatrabalho_intervencao_id_e1cf1897; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_horatrabalho_intervencao_id_e1cf1897 ON public.intervencoes_horatrabalho USING btree (intervencao_id);


--
-- Name: intervencoes_horatrabalho_tecnico_id_3e0f488b; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_horatrabalho_tecnico_id_3e0f488b ON public.intervencoes_horatrabalho USING btree (tecnico_id);


--
-- Name: intervencoes_intervencao_cliente_id_c31d5479; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_intervencao_cliente_id_c31d5479 ON public.intervencoes_intervencao USING btree (cliente_id);


--
-- Name: intervencoes_intervencao_contrato_id_cd15c158; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_intervencao_contrato_id_cd15c158 ON public.intervencoes_intervencao USING btree (contrato_id);


--
-- Name: intervencoes_intervencao_numero_b5ca17cb_like; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_intervencao_numero_b5ca17cb_like ON public.intervencoes_intervencao USING btree (numero varchar_pattern_ops);


--
-- Name: intervencoes_intervencao_tecnico_id_9f50e671; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX intervencoes_intervencao_tecnico_id_9f50e671 ON public.intervencoes_intervencao USING btree (tecnico_id);


--
-- Name: notificacoes_notificacao_utilizador_id_bf3cafd5; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX notificacoes_notificacao_utilizador_id_bf3cafd5 ON public.notificacoes_notificacao USING btree (utilizador_id);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: usuarios_empresa_Email_empresa_7c7ce367_like; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX "usuarios_empresa_Email_empresa_7c7ce367_like" ON public.usuarios_empresa USING btree ("Email_empresa" varchar_pattern_ops);


--
-- Name: usuarios_empresa_nif_da32e557_like; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX usuarios_empresa_nif_da32e557_like ON public.usuarios_empresa USING btree (nif varchar_pattern_ops);


--
-- Name: usuarios_empresa_nome_45fea379_like; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX usuarios_empresa_nome_45fea379_like ON public.usuarios_empresa USING btree (nome varchar_pattern_ops);


--
-- Name: usuarios_usuario_email_0a82e5f9_like; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX usuarios_usuario_email_0a82e5f9_like ON public.usuarios_usuario USING btree (email varchar_pattern_ops);


--
-- Name: usuarios_usuario_empresa_id_03e3ccb9; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX usuarios_usuario_empresa_id_03e3ccb9 ON public.usuarios_usuario USING btree (empresa_id);


--
-- Name: usuarios_usuario_groups_group_id_e77f6dcf; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX usuarios_usuario_groups_group_id_e77f6dcf ON public.usuarios_usuario_groups USING btree (group_id);


--
-- Name: usuarios_usuario_groups_usuario_id_7a34077f; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX usuarios_usuario_groups_usuario_id_7a34077f ON public.usuarios_usuario_groups USING btree (usuario_id);


--
-- Name: usuarios_usuario_user_permissions_permission_id_4e5c0f2f; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX usuarios_usuario_user_permissions_permission_id_4e5c0f2f ON public.usuarios_usuario_user_permissions USING btree (permission_id);


--
-- Name: usuarios_usuario_user_permissions_usuario_id_60aeea80; Type: INDEX; Schema: public; Owner: suporte_adm
--

CREATE INDEX usuarios_usuario_user_permissions_usuario_id_60aeea80 ON public.usuarios_usuario_user_permissions USING btree (usuario_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: contratos_contrato contratos_contrato_Empresa_id_af565506_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.contratos_contrato
    ADD CONSTRAINT "contratos_contrato_Empresa_id_af565506_fk_usuarios_empresa_id" FOREIGN KEY ("Empresa_id") REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id FOREIGN KEY (user_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: intervencoes_anexointervencao intervencoes_anexoin_intervencao_id_3ef70154_fk_intervenc; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_anexointervencao
    ADD CONSTRAINT intervencoes_anexoin_intervencao_id_3ef70154_fk_intervenc FOREIGN KEY (intervencao_id) REFERENCES public.intervencoes_intervencao(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: intervencoes_anexointervencao intervencoes_anexoin_utilizador_id_1f7aa6eb_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_anexointervencao
    ADD CONSTRAINT intervencoes_anexoin_utilizador_id_1f7aa6eb_fk_usuarios_ FOREIGN KEY (utilizador_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: intervencoes_comentariointervencao intervencoes_comenta_intervencao_id_709b8a2c_fk_intervenc; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_comentariointervencao
    ADD CONSTRAINT intervencoes_comenta_intervencao_id_709b8a2c_fk_intervenc FOREIGN KEY (intervencao_id) REFERENCES public.intervencoes_intervencao(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: intervencoes_comentariointervencao intervencoes_comenta_usuario_id_424ffa39_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_comentariointervencao
    ADD CONSTRAINT intervencoes_comenta_usuario_id_424ffa39_fk_usuarios_ FOREIGN KEY (usuario_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: intervencoes_historicoestadointervencao intervencoes_histori_alterado_por_id_3c95a562_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_historicoestadointervencao
    ADD CONSTRAINT intervencoes_histori_alterado_por_id_3c95a562_fk_usuarios_ FOREIGN KEY (alterado_por_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: intervencoes_historicoestadointervencao intervencoes_histori_intervencao_id_a8d769e6_fk_intervenc; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_historicoestadointervencao
    ADD CONSTRAINT intervencoes_histori_intervencao_id_a8d769e6_fk_intervenc FOREIGN KEY (intervencao_id) REFERENCES public.intervencoes_intervencao(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: intervencoes_horatrabalho intervencoes_horatra_intervencao_id_e1cf1897_fk_intervenc; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_horatrabalho
    ADD CONSTRAINT intervencoes_horatra_intervencao_id_e1cf1897_fk_intervenc FOREIGN KEY (intervencao_id) REFERENCES public.intervencoes_intervencao(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: intervencoes_horatrabalho intervencoes_horatra_tecnico_id_3e0f488b_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_horatrabalho
    ADD CONSTRAINT intervencoes_horatra_tecnico_id_3e0f488b_fk_usuarios_ FOREIGN KEY (tecnico_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: intervencoes_intervencao intervencoes_interve_cliente_id_c31d5479_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_intervencao
    ADD CONSTRAINT intervencoes_interve_cliente_id_c31d5479_fk_usuarios_ FOREIGN KEY (cliente_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: intervencoes_intervencao intervencoes_interve_contrato_id_cd15c158_fk_contratos; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_intervencao
    ADD CONSTRAINT intervencoes_interve_contrato_id_cd15c158_fk_contratos FOREIGN KEY (contrato_id) REFERENCES public.contratos_contrato(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: intervencoes_intervencao intervencoes_interve_tecnico_id_9f50e671_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.intervencoes_intervencao
    ADD CONSTRAINT intervencoes_interve_tecnico_id_9f50e671_fk_usuarios_ FOREIGN KEY (tecnico_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notificacoes_notificacao notificacoes_notific_utilizador_id_bf3cafd5_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.notificacoes_notificacao
    ADD CONSTRAINT notificacoes_notific_utilizador_id_bf3cafd5_fk_usuarios_ FOREIGN KEY (utilizador_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_usuarios_ FOREIGN KEY (user_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario usuarios_usuario_empresa_id_03e3ccb9_fk_usuarios_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_usuario
    ADD CONSTRAINT usuarios_usuario_empresa_id_03e3ccb9_fk_usuarios_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.usuarios_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_groups usuarios_usuario_gro_usuario_id_7a34077f_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_gro_usuario_id_7a34077f_fk_usuarios_ FOREIGN KEY (usuario_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_groups usuarios_usuario_groups_group_id_e77f6dcf_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_usuario_groups
    ADD CONSTRAINT usuarios_usuario_groups_group_id_e77f6dcf_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_use_permission_id_4e5c0f2f_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_use_permission_id_4e5c0f2f_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_usuario_user_permissions usuarios_usuario_use_usuario_id_60aeea80_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: suporte_adm
--

ALTER TABLE ONLY public.usuarios_usuario_user_permissions
    ADD CONSTRAINT usuarios_usuario_use_usuario_id_60aeea80_fk_usuarios_ FOREIGN KEY (usuario_id) REFERENCES public.usuarios_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO suporte_adm;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO suporte_adm;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO suporte_adm;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO suporte_adm;


--
-- PostgreSQL database dump complete
--

\unrestrict 48NkkHjeAQuZt1tyOfXUEZfgHxzKy723GDB551p43YzH9Slf3GtvLgyhC6akxF2

